.resetpassword-component {
    background: #F8F8F8;
    width: 100vw;
    height: 100vh;
}

.ResetPassword-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 30px;
    width: 640px;
    height: 662px;
}

.ResetPassword-container h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #034B5E;
}

.ResetPassword-container .create-new {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
    display: block;
    text-align: center;
    margin-bottom: 49px;
}

.ResetPassword-container .container {
    width: 552px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 42px;
}

.ResetPassword-container .container div {
    width: 100%;
    margin-bottom: 15px;
}

.ResetPassword-container .container div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #919499;
    margin-bottom: 15px;
}

.ResetPassword-container .container div input {
    height: 65px;
    width: 100%;
    padding-left: 34px;
    border: 1.3px solid rgba(196, 196, 196, 0.5);
    border-radius: 14px;
}

.ResetPassword-container a {
    display: block;
    width: 545px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8AD15;
    border-radius: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}